*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(217, 54%, 11%);
    font-size: 18px;
    font-family: Outfit;
    font-weight: 300;
}

.container{
    background-color: hsl(216, 50%, 16%);
    width: 25%;
    border-radius: 2%;
}

.nft-img img{
    width: 25vw;
    border-radius: 9%;
    padding: 6%;
}

.nft-desc{
    padding: 0 7%;
}

.eth, .profile{
    display: flex;
    padding: 7% 0;
}

.divider{
    border: solid 1px;
}

.right-margin{
    padding-right: 50%;
    font-size: 12px;
}
h2{font-size:9px}
.divider, .soft-blue{
    color: hsl(215, 51%, 70%);
}

.h1{
    font-weight: 600;
}

.paragraph{
    padding-top: 5%;
}

.h1, h3 a{
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

.mt{
    margin-top: 1%;
}

.avatar{
    width: 4vw;
    padding: 0 3%;
}

/* Active states */
.h1:hover, h3 a:hover{
    color:hsl(178, 100%, 50%) ;
}

.nft-img{
    position: relative;
    display: block; 
    margin-block-end: 1.5rem;
    cursor: pointer;
}
    
.nft-img:hover::before {
    content: "";
    position: absolute;
    background: url("./images/icon-view.svg") no-repeat;
    background-color: hsla(178, 100%, 50%, 62%);
    background-position: 50%;
    opacity: 1;
    border-radius: 0.5em;
    z-index: 1;
    top:4%;
    left: 5%;
    right: 5%;
    bottom: 4%;
    width: 90%;
    height: 90%;
}

@media (max-width:768px){
    .container{
         width: 60%;
        border-radius: 2%;
    }
    
    .right-margin{
        padding-right: 65%;
    }

    .nft-img img{
        width: 60vw;
    }
}

@media (max-width:425px){
    .right-margin{
        padding-right: 35%;
    }

   .avatar{
        width: 8vw;
    }

    small{
        font-size: 10px;
    }
}
